<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalendarChallenge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FBD93421E78C303009DEDAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FBD93561E78C303009DEDAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FBD93611E78C303009DEDAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
